<article>
  <div class="row">
    <div class="col-md-9 post-list-content">
      <h2><a href="<%= Router.path(:show_post, slug: slug) %>"><%= title %></a></h2>
      <p><%= content %></p>
      <%= link_to t.post.read_more,  Router.path(:show_post, slug: slug), class: 'btn btn-success pull-right read-more'%>
      <br />
      <hr>
    </div>
    <div class="col-md-3 post-list-info">
      <div class="timeline"><%= post_date %></div>
      <div class="tags">
        <%= cell(Tag::Cell::Label, collection: tags).() %>
      </div>
    </div>
  </div>
</article>