<article class="b-blog-list-item">
  <h2 class="b-blog-list-item__title"><%= title %></h2>
  <p class="b-blog-list-item__date"><%= post_date %></p>
  <div class="b-wiziwig">
    <%= content %>
  </div>
  <ul class="b-tags-list g-clearfix">
    <%= cell(Tag::Cell::Label, collection: tags).() %>
  </ul>
  <%= link_to t.post.read_more,  Router.path(:show_post, slug: slug), class: 'b-btn-read' %>
</article>