<article>
  <div class="row">
    <div class="col-md-9 post-list-content">
      <h2><a href="<%= Router.path(:show_post, slug: slug) %>"><%= title %></a></h2>
      <p><%= content %></p>
      <%= link_to 'Read more...',  Router.path(:show_post, slug: slug), class: 'btn btn-success pull-right read-more'%>
      <br />
      <hr>
    </div>
    <div class="col-md-3 post-list-info">
      <div class="timeline"><%= post_date %></div>
      <div class="tags">Tags:
        <span class="label label-default">Docker</span>
        <span class="label label-default">Arduino</span>
        <span class="label label-default">Raspberry Pi</span>
      </div>
    </div>
  </div>
</article>