<article>
  <div class="row">
    <div class="col-md-12 post-list-content">
      <h2><%= title %></h2>
      <p class="tags">
        <%= post_date %>
        <%= cell(Tag::Cell::Label, collection: tags).() %>
      </p>
      <p><%= content %></p>
      <%= link_to t.general.back,  '/', class: 'btn btn-info pull-right'%>

      <div id="disqus_thread"></div>
      <script>
         var disqus_config = function () {
            this.page.url = '<%= url %>';
            this.page.identifier = '<%= discus_identifier %>';
            this.language = "<%= R18n.get.locale.code  %>";
         };
        (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = '//onedevblog-1.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

    </div>
  </div>
</article>
