<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      <%= form_action_title %> Post
      <a href="#" onclick="window.scrollTo(0,document.body.scrollHeight); return false;"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
      <%= preview_link %>
    </h1>
  </div>
</div>

<% f = form(model, form_path, builder: :bootstrap3, id: 'post-form') %>
<%= f.start %>
<%= f.error_notification %>
<div class="row">
  <div class="col-sm-6">
    <%= f.input :title, label: 'Title' %>
    <%= f.input :slug, label: 'Slug' %>
    <%= f.input :tags, label: 'Tags' %>
  </div>
  <div class="col-sm-6">
    <%= f.input :seo_description, label: 'Seo Description' %>
    <%= f.input :seo_keywords, label: 'Seo Keywords' %>
    <%= f.input :activated_at, label: 'Activation Date' %>
  </div>
</div>
<%= f.error :content %>
<%= f.hidden :content, value: '' %>
<div class="editable"><%= model.content %></div>
<%= f.checkbox :active, label: 'Active', value: model.active %>
<%= f.submit value: 'Save', class: %w(btn-lg btn-success) %>
<%= f.end %>
<script>
  $(function () {
    $("#post-form").submit(function (event) {
      event.preventDefault();
      var contentObj = editor.serialize();
      $("#content").val(contentObj['element-0'].value);
      this.submit();
    });
  });
</script>