<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">New Post</h1>
  </div>
</div>

<% f = form(model, form_path, builder: :bootstrap3) %>
<%= f.start %>
<%= f.error_notification %>
<%= f.input :title, label: 'Title' %>
<%= f.textarea :content, label: 'Content' %>
<%= f.submit value: 'Save', class: %w(btn-lg btn-success) %>
<%= f.end %>