<tr>
  <td><%= id %></td>
  <td><%= link_to title, Router.path(:edit_post, id: id) %></td>
  <td><%= active_icon %></td>
  <td><%= lang %></td>
  <td><%= activated_at %></td>
  <td><%= link_to 'Edit', Router.path(:edit_post, id: id), class: 'btn btn-primary' %></td>
  <td><%= link_to 'Delete', Router.path(:destroy_post, id: id), class: 'btn btn-danger' %></td>
</tr>